   body{
       background-color: black;
       
   }
   header{
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        font-size: 18px;
        font-weight: bolder;
        display: flex;
            
    }
    header ul{
        list-style-type: none;
        display: flex;
        color: white;

    }
    header ul li{
        margin: 0 20px;
    }
    .icons{
        margin-left: auto;
    
    }
    div>ul>li>i{
        margin-left: 30px;
    }
    .generique{
        background-image:url("./fliximg/wwkll.jpg");
        text-align: center;
        background-repeat: no-repeat;
        background-size:cover;
        width: auto;
        display: flex;
        padding-top: 8px ;
        height: 120vh;
    }
    .generique>img{
        height: 150px;
        position: absolute;
        left: 10px;
    }
    
    h1{
           width: 20px;
           text-align: center;
        }
    .series{
            text-align:center;
            display: flex;
            flex-wrap: nowrap;
        }
    
    